html {
  font-size: 62.5%;
}
.article {
  width: calc(100% - 26rem);
}
.article p {
  line-height: 1.8;
}
.article a:link,
.article a:visited {
  color: #fb3a50;
}
@media screen and (max-width: 960px) {
  .article {
    width: 100%;
  }
}
.body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6em;
  color: #1f1f1f;
  background-color: #e9e2d8;
}
.footer__inner {
  background-color: #fff;
  margin: 0 auto;
  min-width: 76.8rem;
  max-width: 144rem;
}
.header__inner {
  position: relative;
  height: 20rem;
  overflow: hidden;
  margin: 5rem auto 0;
  min-width: 76.8rem;
  max-width: 144rem;
  background-size: cover;
  background-image: url("/img/background.svg");
  background-position: 50% 36%;
}
.header__yantene {
  min-width: 30%;
  height: 100%;
  position: absolute;
  right: 10%;
  bottom: -10%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/img/yantene.svg");
}
.header__snow-list {
  display: flex;
  justify-content: space-around;
}
.header__snow {
  animation: snowing 30s linear infinite, swinging 20s linear infinite;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
}
.header__snow:nth-of-type(1) {
  animation-delay: -3.186454442263622s;
}
.header__snow:nth-of-type(2) {
  animation-delay: -28.271843288472702s;
}
.header__snow:nth-of-type(3) {
  animation-delay: -28.36108122653583s;
}
.header__snow:nth-of-type(4) {
  animation-delay: -19.748549476836015s;
}
.header__snow:nth-of-type(5) {
  animation-delay: -17.79653836077633s;
}
.header__snow:nth-of-type(6) {
  animation-delay: -28.15524748205139s;
}
.header__snow:nth-of-type(7) {
  animation-delay: -26.332463722236447s;
}
.header__snow:nth-of-type(8) {
  animation-delay: -9.6553132297263s;
}
.header__snow:nth-of-type(9) {
  animation-delay: -23.669616512518274s;
}
.header__snow:nth-of-type(10) {
  animation-delay: -19.87979720669015s;
}
.header__snow:nth-of-type(11) {
  animation-delay: -11.511365208739882s;
}
.header__snow:nth-of-type(12) {
  animation-delay: -4.04406634782668s;
}
.header__snow:nth-of-type(13) {
  animation-delay: -27.050856292651584s;
}
.header__snow:nth-of-type(14) {
  animation-delay: -22.300005472882802s;
}
.header__snow:nth-of-type(15) {
  animation-delay: -8.71224787238048s;
}
.header__snow:nth-of-type(16) {
  animation-delay: -3.852767342933143s;
}
.header__snow:nth-of-type(17) {
  animation-delay: -22.33192859439543s;
}
.header__snow:nth-of-type(18) {
  animation-delay: -19.97851325261027s;
}
.header__snow:nth-of-type(19) {
  animation-delay: -17.769936965071892s;
}
.header__snow:nth-of-type(20) {
  animation-delay: -19.938853718215597s;
}
@-moz-keyframes swinging {
  25% {
    margin-right: 2rem;
  }
  75% {
    margin-left: 2rem;
  }
}
@-webkit-keyframes swinging {
  25% {
    margin-right: 2rem;
  }
  75% {
    margin-left: 2rem;
  }
}
@-o-keyframes swinging {
  25% {
    margin-right: 2rem;
  }
  75% {
    margin-left: 2rem;
  }
}
@keyframes swinging {
  25% {
    margin-right: 2rem;
  }
  75% {
    margin-left: 2rem;
  }
}
@-moz-keyframes snowing {
  0% {
    margin-top: -2rem;
  }
  100% {
    margin-top: 20rem;
  }
}
@-webkit-keyframes snowing {
  0% {
    margin-top: -2rem;
  }
  100% {
    margin-top: 20rem;
  }
}
@-o-keyframes snowing {
  0% {
    margin-top: -2rem;
  }
  100% {
    margin-top: 20rem;
  }
}
@keyframes snowing {
  0% {
    margin-top: -2rem;
  }
  100% {
    margin-top: 20rem;
  }
}
.hljs {
  display: block;
  margin: 0 0 1rem;
  padding: 2rem 2rem;
  font-family: 'Source Code Pro', monospace;
  overflow-x: auto;
  color: #c3c6c4;
  background: #323639;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-title,
.hljs-name {
  color: #efc371;
}
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #71787f;
}
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
  color: #c66;
}
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #b5bc67;
}
.hljs-attribute,
.hljs-code,
.hljs-selector-id {
  color: #b092b9;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
  color: #80a1bc;
}
.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #89bdb5;
}
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #dd925f;
}
.main__inner {
  display: flex;
  background-color: #fff;
  margin: 0 auto;
  min-width: 76.8rem;
  max-width: 144rem;
}
.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #413f4b;
}
.toc {
  width: 26rem;
  background-color: #413f4b;
}
@media screen and (max-width: 960px) {
  .toc {
    display: none;
  }
}
