html {
  font-size: 62.5%;
}
.article {
  width: calc(100% - 26rem);
}
.article p {
  line-height: 1.8;
}
.article a:link,
.article a:visited {
  color: #fb3a50;
}
.article__inner {
  margin: 0 1.5rem;
}
@media screen and (max-width: 960px) {
  .article {
    width: 100%;
  }
}
.body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6em;
  color: #1f1f1f;
  background-color: #e9e2d8;
}
.footer__inner {
  background-color: #fff;
  margin: 0 auto;
  min-width: 32rem;
  max-width: 144rem;
}
.header__inner {
  position: relative;
  overflow: hidden;
  margin: 5rem auto 0;
  min-width: 32rem;
  max-width: 144rem;
  height: 20rem;
  overflow-y: hidden;
  background-size: cover;
  background-image: url("/img/background.svg");
  background-position: 50% 36%;
}
.header__yantene {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 10%;
  bottom: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-image: url("/img/yantene.svg");
  background-position: 50% 10%;
}
.header__snow-list {
  display: flex;
  justify-content: space-around;
}
.header__snow {
  animation: snowing 30s linear infinite, swinging 20s linear infinite;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: #fff;
}
.header__snow:nth-of-type(1) {
  animation-delay: -29.568215585749s;
}
.header__snow:nth-of-type(2) {
  animation-delay: -9.344336942444475s;
}
.header__snow:nth-of-type(3) {
  animation-delay: -21.86947358934105s;
}
.header__snow:nth-of-type(4) {
  animation-delay: -9.78506559077717s;
}
.header__snow:nth-of-type(5) {
  animation-delay: -29.395909577950533s;
}
.header__snow:nth-of-type(6) {
  animation-delay: -25.53394116835066s;
}
.header__snow:nth-of-type(7) {
  animation-delay: -19.818815730677628s;
}
.header__snow:nth-of-type(8) {
  animation-delay: -29.490961591071997s;
}
.header__snow:nth-of-type(9) {
  animation-delay: -8.206275991392562s;
}
.header__snow:nth-of-type(10) {
  animation-delay: -7.793397891310434s;
}
.header__snow:nth-of-type(11) {
  animation-delay: -1.744748499193967s;
}
.header__snow:nth-of-type(12) {
  animation-delay: -2.456904695094282s;
}
.header__snow:nth-of-type(13) {
  animation-delay: -27.164930075249384s;
}
.header__snow:nth-of-type(14) {
  animation-delay: -28.759403316949673s;
}
.header__snow:nth-of-type(15) {
  animation-delay: -7.014828307772685s;
}
@-moz-keyframes swinging {
  25% {
    margin-right: 2vw;
  }
  75% {
    margin-left: 2vw;
  }
}
@-webkit-keyframes swinging {
  25% {
    margin-right: 2vw;
  }
  75% {
    margin-left: 2vw;
  }
}
@-o-keyframes swinging {
  25% {
    margin-right: 2vw;
  }
  75% {
    margin-left: 2vw;
  }
}
@keyframes swinging {
  25% {
    margin-right: 2vw;
  }
  75% {
    margin-left: 2vw;
  }
}
@-moz-keyframes snowing {
  0% {
    margin-top: -2vw;
  }
  100% {
    margin-top: 20rem;
  }
}
@-webkit-keyframes snowing {
  0% {
    margin-top: -2vw;
  }
  100% {
    margin-top: 20rem;
  }
}
@-o-keyframes snowing {
  0% {
    margin-top: -2vw;
  }
  100% {
    margin-top: 20rem;
  }
}
@keyframes snowing {
  0% {
    margin-top: -2vw;
  }
  100% {
    margin-top: 20rem;
  }
}
@media screen and (max-width: 800px) {
  .header__inner {
    height: 25vw;
  }
}
.hljs {
  display: block;
  margin: 0 -1.5rem 1rem;
  padding: 2rem 2rem;
  font-family: 'Source Code Pro', monospace;
  overflow-x: auto;
  color: #c3c6c4;
  background: #323639;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-title,
.hljs-name {
  color: #efc371;
}
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #71787f;
}
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link {
  color: #c66;
}
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #b5bc67;
}
.hljs-attribute,
.hljs-code,
.hljs-selector-id {
  color: #b092b9;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
  color: #80a1bc;
}
.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #89bdb5;
}
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #dd925f;
}
.main__inner {
  display: flex;
  background-color: #fff;
  margin: 0 auto;
  min-width: 32rem;
  max-width: 144rem;
}
.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #413f4b;
}
.toc {
  width: 26rem;
  background-color: #413f4b;
}
@media screen and (max-width: 960px) {
  .toc {
    display: none;
  }
}
