/Dockerfile
/.dockerignore
/node_modules

/api.www.yantene.net/docker
/api.www.yantene.net/node_modules
/api.www.yantene.net/dist

/www.yantene.net/docker
/www.yantene.net/node_modules
/www.yantene.net/.next
