/Dockerfile
/.dockerignore
/node_modules

/sites/api.www.yantene.net/docker
/sites/api.www.yantene.net/node_modules
/sites/api.www.yantene.net/dist

/sites/www.yantene.net/docker
/sites/www.yantene.net/node_modules
/sites/www.yantene.net/.next
