name: "yantene.net"

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces:cached
      - ./fish/config.fish:/home/vscode/.config/fish/config.fish
      - ./fish/conf.d/abbrs.fish:/home/vscode/.config/fish/conf.d/abbrs.fish
      - ./fish/functions/git.fish:/home/vscode/.config/fish/functions/git.fish
      # Chrome sandbox needs access to /dev/shm
      - /dev/shm:/dev/shm
    dns:
      - 8.8.8.8
      - 8.8.4.4
    command: sleep infinity
    user: vscode
    # Chrome sandbox security settings
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
