[Unit]
Description=This service automatically renews lego certificate for {{ item.apps[0].domain_name }}

[Service]
Type=oneshot
ExecStart=/usr/bin/lego \
  --path /etc/acme/data \
  --accept-tos \
  --http \
  --http.webroot /etc/acme/webroot \
  --email {{ item.acme_email }} \
  --domains {{ item.apps | map(attribute='domain_name') | join(' --domains ') }} \
  renew \
  --days 30
ExecStartPost=/bin/systemctl reload nginx
