[Unit]
Description=This service automatically renews lego certificate

[Service]
Type=oneshot
ExecStart=/usr/bin/lego \
  --path /etc/acme/data \
  --accept-tos \
  --http \
  --http.webroot /etc/acme/webroot \
  --email {{ acme.email }} \
  --domains {{ acme.domain_names | join(' --domains ') }} \
  renew \
  --days 30
ExecStartPost=/bin/systemctl reload nginx
