// colors

base-color   = hsl(35, 72, 97) // 70%
sub-color    = hsl(250, 9, 27) // 25%
accent-color = #fb3a50 //  5%

bg-color   = hsl(35, 72, 99)
font-color = hsl( 0,  0, 12)

// link

anchor-font-color = accent-color
anchor-font-color-hover = hsl(353, 96, 72)

// whole

inner-max-width = 144.0rem
inner-min-width = 32.0rem

// header

header-height = 20rem
snow-color = hsl(250, 2, 96)
snow-size = 'min(1.8vw, calc(%s * 18 / 1000))' % inner-max-width

// article

article-h2-underline-color = hsl(250, 6, 80)
article-code-bg-color = hsl(35, 32, 86)
article-blockquote-border-color = hsl(250, 6, 75)
article-blockquote-font-color = hsl(250, 6, 40)

// sidebar

sidebar-bg-color = hsl(35, 72, 91)
sidebar-width = 26.0rem

// toc

toc-bg-color = hsl(35, 72, 88)
toc-bg-color-current = hsl(35, 72, 80)
toc-bg-color-hover = hsl(35, 72, 84)

// footer

footer-height = header-height
footer-bg-color =  hsl(35, 72, 72)

// hljs

hljs-font-color = hsl(140, 2, 77)
hljs-bg-color = hsl(210, 6, 21)

// timestamp

timestamp-font-color = hsl(0, 0, 30)
